.profile-picture {
  margin-bottom: 0.5rem;

  img {
    height: 300px;
    border-radius: 100%;
  }
}

.about-description {
  max-width: 800px;
  margin-top: 0.5rem;
  text-wrap: balance;
  text-align: center;
}

.about-socials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-content: center;
  margin-top: 1.85rem;

  > li {
    display: flex;
    align-items: center;

    > a {
      display: flex;
      align-items: center;

      > span {
        margin-left: 1rem;
      }
    }

    svg {
      width: 30px;
    }

    > span {
      margin-left: 1rem;
    }
  }
}

.download-cv {
  border: 2px solid $color-primary;
  border-radius: 6px;
  padding: 0.3rem 0.6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;

  &:hover {
    background-color: $color-primary-light;
    border: 2px solid transparent;
  }
}
