.items {
  position: relative;
  max-width: 1000px;
  padding: 0 2rem;

  // timeline guide
  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 4px;
    background-color: $color-primary-light;
    top: 0.75rem;
    bottom: 0;
    left: -5px;
    z-index: 1;
  }
  .item-grid {
    margin-bottom: 4rem;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    // timeline dot
    &:after {
      content: "";
      position: absolute;
      height: 14px;
      width: 14px;
      background-color: $color-primary;
      top: 4px;
      left: -30px;
      border-radius: 100%;
      z-index: 2;

      @include media("<=phone") {
        top: 0;
      }
    }
  }
  .item-date {
    font-style: italic;
    margin-top: 4px;
    @extend %description-17;
    display: flex;
    align-self: flex-start;

    @include media("<=phone") {
      justify-self: flex-end;
      margin-left: auto;
    }
  }
  .item-content {
    p:not(.subtitle) {
      @extend %description-16;
    }

    .item-content--subtitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 4rem;
      width: 100%;
      flex-wrap: wrap;

      > .subtitle {
        margin-bottom: 1rem;
      }
    }

    .item-content--location {
      font-style: italic;
      font-weight: 500;
      margin-bottom: 1rem;
    }
  }
  .item-list-label {
    margin-top: 2.25rem;
    @extend %description-18;
  }
  .item-list {
    margin-top: 1rem;
    color: $color-secondary;
    li {
      position: relative;
      padding-left: 1.75rem;
      margin-bottom: 1.25rem;
      line-height: 2.5rem;
      @extend %description-16;

      &::before {
        content: "";
        width: 8px;
        height: 8px;
        background-color: $color-primary-light;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 9px;
      }
    }
  }
}
