.project-list {
  padding: 0.25rem 2rem 0 2rem;
}
.project-item {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 3rem;
  align-items: flex-end;

  @include media("<=tablet") {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5rem;
  }
}

.project-item--name {
  font-size: var(--fs-500);
  margin-bottom: 1rem;
}

.project-item--image {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-item--content {
  width: 100%;
}

.project-item--content--logo > img {
  height: 40px;
  margin-bottom: 1.25rem;
}

.project-item--technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.75rem;

  li {
    border: 2px solid $color-primary;
    border-radius: 1rem;
    padding: 0.3rem 0.6rem;
  }
}
