.skills {
  // h2 {
  //   display: flex;
  //   flex-direction: row;
  //   gap: 1rem;
  //   align-items: center;
  //   // font-size: 3.5rem;
  // }

  .skills-content {
    min-width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-top: 2rem;

    li {
      position: relative;
      padding-left: 1.75rem;
      line-height: 2.5rem;
      @extend %description-16;

      &::before {
        content: "";
        width: 8px;
        height: 8px;
        background-color: $color-primary-light;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 9px;
      }
    }
  }
}
