.skills {
  .skills-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-top: 2rem;

    @include media("<=phone") {
      grid-template-columns: 1fr;
    }

    li {
      position: relative;
      padding-left: 1.75rem;
      line-height: 2.5rem;
      font-size: 1.2rem;

      &::before {
        content: "";
        width: 8px;
        height: 8px;
        background-color: $color-primary-light;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 9px;
      }
    }
  }
}
