body {
  min-height: 100vh;
  min-width: 100vh;
  padding: 0 2rem;
}

.homepage {
  margin: 7rem auto 5rem auto;
  overflow-y: auto;
  max-width: 1280px;

  section {
    height: calc(100vh - 12rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    // leave space for the bookshelf (scroll assist) + margin
    // width: calc(100% - $bookshelf-width - 2rem);
  }

  p {
    color: $color-secondary;
    font-size: 2rem;
  }

  // .experience,
  // .education {
  //   .title-2 {
  //     margin-bottom: 3rem;
  //   }

  //   .title-3 {
  //     margin-bottom: 1.5rem;
  //   }
  // }
}
