%cover {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

%center {
  align-items: center;
  display: flex;
  justify-content: center;
}

%space-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

%text-reveal {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}
