$color-black: #000000;
$color-white: #ffffff;

$color-primary: #608abf;
$color-primary-light: #b6c9e2;

$color-secondary: #636466;

$font-heading: "Montserrat", sans-serif;
$font-body: "Montserrat", sans-serif;

$transition-ease: cubic-bezier(0.19, 1, 0.22, 1);

$bookshelf-width: 200px;

$color-yellow: #ffd500;

// title blue #608abf
// half-page shade #b6c9e2
