%description-10 {
  font-size: 1rem;
}

%description-14 {
  font-size: 1.4rem;
}

%description-15 {
  font-size: 1.5rem;
}

%description-16 {
  font-size: 1.6rem;
}

%description-17 {
  font-size: 1.7rem;
}

%description-18 {
  font-size: 1.8rem;
  line-height: 2.5rem;

  @include media("<=tablet") {
    font-size: 1.6rem;
  }
}

%description-20 {
  font-size: 2rem;
  line-height: 3rem;

  @include media("<=tablet") {
    font-size: 1.6rem;
  }
}

%description-24 {
  font-size: 2.4rem;
  line-height: 3rem;

  @include media("<=tablet") {
    font-size: 1.6rem;
  }
}

%description-25 {
  font-size: 2.5rem;
  line-height: 3rem;

  @include media("<=tablet") {
    font-size: 1.6rem;
  }
}

%description-30 {
  font-size: 3rem;

  @include media("<=tablet") {
    font-size: 1.8rem;
  }
}

%description-80 {
  font-family: $font-heading;
  font-size: 8rem;
  font-weight: 700;
  text-transform: uppercase;

  @include media("<=tablet") {
    font-size: 6.4rem;
  }

  @include media("<phone") {
    font-size: 5rem;
  }
}

p {
  @extend %description-20;
}
