.title {
  font-size: var(--fs-xl);
  margin: 0.5rem 0;
  color: $color-primary;
}

.title-2 {
  font-size: var(--fs-600);

  border-bottom: 2px solid $color-primary;
  min-width: 500px;
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 2.25rem;

  flex-direction: row;
  gap: 1.25rem;
  align-items: center;
  color: $color-primary;
}

.subtitle {
  font-size: var(--fs-500);
  margin-bottom: 1.5rem;
  color: $color-black;
}
