%title-25 {
  font-size: 2.5rem;

  @include media("<phone") {
    font-size: 2.8rem;
  }
}

%title-40 {
  font-size: 4rem;
  font-family: $font-heading;
  font-weight: 500;

  @include media("<phone") {
    font-size: 2.5rem;
  }
}

.title {
  @extend %title-40;
  margin: 0.5rem 0;
  color: $color-primary;
}

.title-2 {
  @extend %title-40;

  border-bottom: 2px solid $color-primary;
  min-width: 500px;
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 1.5rem 0;

  flex-direction: row;
  gap: 1.25rem;
  align-items: center;
  color: $color-primary;
}

.title-3 {
  @extend %title-25;
}

.subtitle {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: $color-black;

  @include media("<=phone") {
    font-size: 1.5rem;
  }

  ~ ul {
    margin-top: 1rem;
  }
}
