.title {
  font-size: var(--fs-xl);
  margin: 0.5rem 0;
  color: $color-primary;
}

.title-2--container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  min-width: 500px;
  border-bottom: 2px solid $color-primary;
  gap: 1.25rem;
  padding: 1rem;
  margin-bottom: 1.85rem;
  margin-top: 5rem;

  @include media("<=phone") {
    margin-top: 2rem;
  }
}

.title-2 {
  font-size: var(--fs-600);
  color: $color-primary;
}

.subtitle {
  font-size: var(--fs-500);
  margin-bottom: 0.5rem;
  color: $color-black;
  display: block;
  line-height: 1.75rem;
}
