*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  background-color: $color-white;
  color: $color-black;
  font-family: $font-body;
  font-optical-sizing: auto;
  touch-action: pan-y;
}

body::-webkit-scrollbar {
  display: none;
}
