.global {
}

.input-errors {
  color: red !important;
  margin-bottom: 2rem;
}

html {
  scroll-behavior: smooth;
}

p,
li {
  line-height: 1.5rem;
  font-size: var(--fs-400);
}

.color-secondary {
  color: $color-secondary;
  font-weight: 500;
}
